---
import Layout from '../../layouts/Layout.astro';
import HeaderSesion from '../../components/HeaderSesion.astro';


---

<Layout title="Welcome to Astro.">
	<HeaderSesion/>

  <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white pl-5">Medicta</h1>
  <p class="mb-6 text-lg font-normal text-gray-900 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">La solución ideal para agendar tus citas médicas de manera rápida y sencilla. Encuentra doctores cerca de ti, selecciona el horario que mejor se ajuste a tu agenda y gestiona tus consultas desde una sola app.</p>
  <a href="/usr/esp">
    <button class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ml-7 mt-5">Agendar</button>
  </a>

  <div class="flex flex-row justify-around pt-10 min-w-full pb-8">
    <div class="p-5 bg-purple-400 shadow-purple-300 shadow-[-15px_10px_10px_15px_#d6bcfa] text-center rounded-md min-w-[25%] min-h-[12vh] flex items-center justify-center">
      <h3 class="text-xl font-semibold">Encuentra tu especialista</h3>
    </div>
    <div class="p-5 bg-purple-400 shadow-purple-300 shadow-[-15px_10px_10px_15px_#d6bcfa] text-center rounded-md min-w-[25%] min-h-[12vh] flex items-center justify-center">
      <h3 class="text-xl font-semibold">Ve sus ubicaciones</h3>
    </div>
    <div class="p-5 bg-purple-400 shadow-purple-300 shadow-[-15px_10px_10px_15px_#d6bcfa] text-center rounded-md min-w-[25%] min-h-[12vh] flex items-center justify-center">
      <h3 class="text-xl font-semibold">Agenda en 5 minutos</h3>
    </div>
  </div>

  <h2 class="mb-4 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white p-5">¿Cómo funciona?</h2>
  <div class="flex flex-row justify-around mb-10">
    <ol>
      <li class="mb-4 text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-400">1.-Regístrate en la app</li>
      <li class="mb-4 text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-400">2.-Busca tu especialista</li>
      <li class="mb-4 text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-400">3.-Selecciona el consultorio</li>
      <li class="mb-4 text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-400">4.-Selecciona la fecha y hora de tu consulta</li>
      <li class="mb-4 text-lg font-normal text-gray-900 lg:text-xl dark:text-gray-400">5.-Confirma tu cita</li>
    </ol>
    <img src="../../public/icons/calendar.png" alt="icono de cita">
  </div>

  <div class="w-3/4 mx-auto p-5 bg-purple-400 shadow-purple-300 shadow-[-15px_10px_10px_15px_#d6bcfa] text-center rounded-md min-w-[25%] min-h-[12vh] flex items-center justify-center mb-16">
    <h3 class="text-xl font-semibold text-black">Buscamos revolucionar la forma tradicional de agendar citas médicas así como también encontrar especialistas de calidad</h3>
  </div>

  
</Layout>
