---
import Layout from "../../layouts/Layout.astro";
import HeaderAdmin from "../../components/HeaderAdmin.astro";
---

<Layout title="Citas agendadas">
  <HeaderAdmin />
  <h1 class="">Panel de administración</h1>
</Layout>
